.movies-card {
    margin: 0;
    padding: 0;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 364px;
    min-height: 271px;
}

.movies-card__header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
    margin: 0 14px;
}

.movies-card__text-container {
    display: flex;
    flex-direction: column;
}

.movies-card__title {
    margin: 0;
    padding: 0;
    max-width: 280px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.movies-card__duration {
    margin: 0;
    padding: 0;
    color: #A0A0A0;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    margin-top: 10px;
}

.movies-card__button {
    margin: 0;
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.4s ease;
    border-radius: 50%;
}

.movies-card__button-logo {
    width: 30px;
    height: 30px;
}

.movies-card__movie-picture {
    width: 100%;
    max-width: 364px;
    height: 203px;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    transition: 0.4s ease;
}

.movies-card__button:hover,
.movies-card__movie-picture:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .movies-card {
        width: 339px;
        min-height: 258px;
    }

    .movies-card__movie-picture {
        max-width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 400px) {
    .movies-card {
        width: 300px;
        min-height: 236px;
    }

    .movies-card__movie-picture {
        max-width: 300px;
        height: 168px;
    }
}

