.profile {
    background-color: #fff;
}

.profile__header {
    margin-top: 75px;
    margin-bottom: 106px;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
}

.profile__form-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 409px;
    margin: 0 auto;
    padding: 0;
}

.profile__input-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
}

.profile__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 4px;
}

.profile__input-fieldset:nth-of-type(2) {
    border-top: 1px solid #E8E8E8;
}

.profile__label-name {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    display: flex;
    justify-content: space-between;
}

.profile__input-name {
    font-family: inherit;
    color: #000;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    border: none;
    padding: 0;
    width: calc(100% - 25px);
    border-radius: 3px;
}

.profile__input-name:focus {
    outline: 1px solid #FF6838;
}

.profile__label-email {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
}

.profile__input-email {
    font-family: inherit;
    color: #000;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    border: none;
    padding: 0;
    width: calc(100% - 35px);
    border-radius: 3px;
}

.profile__input-email:focus {
    outline: 1px solid #FF6838;
}

.profile__input-error {
    display: block;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    min-height: 12px;
}

.profile__error {
    display: block;
    color: #FF004C;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    margin-top: 187px;
    margin-bottom: 17px;
}

.profile__save-container {
    min-height: 48px;
    max-width: 410px;
    width: 100%;
}

.profile__save-button {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    width: 100%;
    max-width: 410px;
    height: 45px;
    transition: 0.4s ease;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
}

.profile__save-button:disabled {
    color: #C2C2C2;
    background-color: #F8F8F8;
}

.profile__save-button:disabled:hover {
    opacity: 1;
    cursor: auto;
}


.profile__button-container {
    min-height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.profile__edit-button {
    display: block;
    border: none;
    background-color: inherit;
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    transition: 0.4s ease;
    padding: 0;
    width: 100%;
}

.profile__logout-button {
    border: none;
    background-color: inherit;
    color: #FF004D;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    transition: 0.4s ease;
    padding: 0;
}

.profile__save-button:hover,
.profile__edit-button:hover,
.profile__logout-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .profile__header {
        margin-top: 237px;
        margin-bottom: 79px;
    }

    .profile__error {
        margin-top: 178px;
    }
}

@media screen and (max-width: 470px) {
    .profile__header {
        margin-top: 71px;
        margin-bottom: 63px;
    }

    .profile__error {
        margin-top: 346px;
    }

    .profile__button-container {
        min-height: 46px;
    }

    .profile__edit-button {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__logout-button {
        font-size: 12px;
        line-height: 15px;
    }

    .profile__form-wrapper {
        width: calc(100% - 60px);
    }
}