.about-me__portfolio {
    width: 100%;
    margin-top: 100px;
}

.about-me__portfolio-title {
    margin: 0;
    padding: 0;
    color: #A0A0A0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.about-me__portfolio-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    margin-top: 30px;
}

.about-me__portfolio-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.4s ease;
    min-height: 89px;
}

.about-me__portfolio-link-item {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: -1.2px;
}

.about-me__portfolio-arrow {
    margin-right: 2px;
    margin-top: 10px;
}

.portfolio-border {
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
}

.about-me__portfolio-link:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 850px) {
    .about-me__portfolio {
        margin-top: 90px;
    }

    .about-me__portfolio-title {
        font-size: 18px;
        line-height: 20px;
    }
    
    .about-me__portfolio-list {
        margin-top: 29px;
    }
    
    .about-me__portfolio-link-item {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 500px) {
    .about-me__portfolio {
        margin-top: 70px;
    }

    .about-me__portfolio-title {
        font-size: 14px;
    }

    .about-me__portfolio-list {
        margin-top: 21px;
    }

    .about-me__portfolio-link {
        min-height: 67px;
    }

    .about-me__portfolio-link-item {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .about-me__portfolio-arrow {
        margin-top: 0;
    }
}