.promo {
    box-sizing: border-box;
    background-color: #465DFF;
}

.promo__wrapper {
    min-height: 574px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.promo__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 75px;
}

.promo__logo {
    margin: 0;
    padding: 0;
    height: 304px;
    width: 310px;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: 0.4s ease;
}

.promo__header {
    margin: 0;
    padding: 0;
    max-width: 640px;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

.promo__subtitle {
    margin-top: 37px;
    padding: 0;
    max-width: 310px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #FFF;
    opacity: 0.5;
}

.promo__button {
    display: flex;
    text-decoration: none;
    width: 129px;
    height: 36px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-top: 83px;
    transition: 0.4s ease;
}

.promo__button:hover {
    cursor: pointer;
    opacity: 0.6;
} 

@media screen and (max-width: 1200px) {
    .promo__container {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 140px;
    }

    .promo__wrapper {
        min-height: 850px;
        align-items: center;
    }

    .promo__text {
        margin-top: 49px;
        align-items: center;
    }

    .promo__header {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 22px;
    }

    .promo__subtitle {
        text-align: center;
        margin: 0 auto;
        max-width: 260px;
    }

    .promo__button {
        margin-top: 93px;
    }
}

@media screen and (max-width: 520px) {
    .promo__wrapper {
        min-height: 636px;
    }

    .promo__container {
        margin-top: 70px;
    }

    .promo__logo {
        height: 206px;
        width: 210px;
    }

    .promo__text {
        margin-top: 44px;
        align-items: center;
    }

    .promo__header {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
        margin-bottom: 24px;
    }

    .promo__button {
        margin-top: 79px;
    }
}