.search-movie {
    box-sizing: border-box;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.search-movie__container {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
}

.search-movie__logo {
    background-image: url(../../images/icon-search-movie.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 34px;
    min-height: 34px;
    background-position: center;
    opacity: 2;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
}

.search-movie__input-error {
    display: block;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    min-height: 12px;
    text-align: center;
}

.search-movie__input {
    font-family: inherit;
    border: none;
    color: #000;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding: 0;
    width: 100%;
    border-radius: 8px;
}

.search-movie__input:focus {
    outline: 1px solid #FF6838;
}

.search-movie__input::placeholder {
    color: #A0A0A0;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    margin-right: 12px;
}

.search-movie__button {
    background-image: url(../../images/find-button.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 34px;
    background-position: center;
    border: none;
    border-radius: 50%;
    transition: 0.4s ease;
    margin-left: 6px;
}

.search-movie__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 1220px) {
    .search-movie {
        margin-left: 30px;
        margin-right: 30px;
    }

    .search-movie__container {
        min-height: 64px;
        margin-top: 72px;
    }
}

@media screen and (max-width: 760px) {
    .search-movie__container {
        min-height: 52px;
        margin-top: 84px;
    }

    .search-movie {
        margin-left: 14px;
        margin-right: 14px;
    }

    .search-movie__logo {
        display: none;
    }

    .search-movie__input {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
    }

    .search-movie__button {
        margin-left: auto;
    }
    
    .search-movie__input::placeholder {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
    }
}
