.side-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    color: #000;
    margin: 0 auto;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
}

.side-menu_overlay-visible {
    visibility: visible;
    opacity: 1;
}

.side-menu__wrapper {
    width: 520px;
    height: 100vh;
    background: rgba(255, 255, 255, .95);
    position: fixed;
    top: 0;
    right: 0px;
    transition: right .5s linear;
    display: flex;
    flex-direction: column;
}

.side-menu__wrapper_opened {
    right: -520px;
}

.side-menu__close-button {
    background: url('../../images/icon-burger-close.svg') no-repeat;
    background-size: 32px 32px;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 22px;
    right: 10px;
    transition: 0.4s ease;
}

.side-menu__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.side-menu__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 28px;
    margin-top: 159px;
}

.side-menu__nav-link {
    list-style: none;
}

.side-menu__nav-link-item {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    transition: 0.3s ease;
}

.side-menu__nav-profile {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin: 0;
    padding: 0;
    margin-bottom: 92px;
}

.side-menu__profile-link-item {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: 0.3s ease;
}

.side-menu__profile-link-logo {
    list-style: none;
}

.side-menu__profile-logo-item {
    width: 26px;
    height: 30px;
    border-radius: 4px;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.side-menu__profile-logo {
    margin: 0;
    padding: 0;
    height: 14px;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: 0.3s ease;
}

.active {
    border-bottom: 2px solid #000;
}

.side-menu__close-button:hover,
.side-menu__nav-link-item:hover,
.side-menu__profile-link-item:hover,
.side-menu__profile-logo:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 520px) {
    .side-menu__wrapper {
        width: 100%;
    }

    .side-menu__nav-list {
        gap: 24px;
        margin-top: 144px;
    }

    .side-menu__nav-profile {
        margin-bottom: 50px;
    }

    .side-menu__close-button {
        top: 12px;
        right: 4px;
    }

    .side-menu__navigation {
        min-height: 780px;
    }

    .side-menu__wrapper_opened {
        right: -100%;
    }
}