@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter/fonts.css);

.page {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #000;
}