.saved-movies {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 470px;
}
.saved-movies__list {
    margin: 70px auto 169px auto;
    padding: 0;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 364px);
    gap: 30px 24px;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

@media screen and (max-width: 1220px) {
    .saved-movies__list {
        margin: 70px 30px 169px;
    }
}

@media screen and (max-width: 800px) {
    .saved-movies__list {
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 36px 30px;
    }
}

@media screen and (max-width: 400px) {
    .saved-movies__list {
        margin: 40px 10px 170px;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 16px 0;
    }
}